body{
	background:#f5d9d5;
	font-family: 'Indie Flower', cursive;
}

.title-text{
	color:white;
	font-size:3rem;
}

.body-text{
	color:#ef86b9;
}

#mainNavbar{
	font-size:2rem;
}

#mainNavbar .nav-link{
	color:white;

}

#mainNavbar .nav-link:hover{
	color:#c1225d;

}

#mainNavbar .navbar-brand{
	color:#c1225d;
	font-size:2rem;
}

@media(max-width: 243px){
	#mainNavbar .navbar-brand{
		font-size:10px;
	}

}

@media(max-width: 902px){
	#mainNavbar{
		font-size:25px;
	}
}
